*{
	font-family: 'Roboto', sans-serif;
	
}
.container-fluid{
		background-color: #c9edd8;
	}
.container{

	background-color: white;
	height: 100vh;
	border: 1px solid black;
	box-shadow: 5px 3px 3px grey;
}
.navcon{
	background-color: #ffffff;
}
.hfieldnm{
	font-size: 18px;
}

.fieldname{
	font-size: 18px;
}
.data
{
	font-size: 17px;
	margin-left: 10px;	
}
.links{
	font-size: 20px;
}
.toggcontent{
margin-top: 20px;

}
.historylist{
	border: 1px solid black;
	margin: auto 30px;
	width: 100%;
	clear: right;
	padding:20px;
	overflow: auto;
	box-shadow: 2px 4px 3px grey;
}
.changetabs li{
	font-size: 20px;
}

#allnm{
	margin-left: 25px;
	border: 1px solid black;
	margin: auto 30px;
	width: 80%;
	clear: right;
	padding:20px;
	box-shadow: 2px 4px 3px grey;
}

